html{
  font-family: 'roboto';
}
.entire{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}
.cmp_table{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 75vh;
  margin-left: 25vh;
}
td,th{
  width: 40vh;
}
.button{
  border: none;
}

.cmp_update_form{
  display: flex;
  flex-direction: column;
  margin-right: 5vh;

}
.header_line{
  margin-bottom: 10px;
}
.enter_form{
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 5vh;
  border-bottom-left-radius: 5vh;
  background-color: #FC5130;
  padding: 3vh;
  padding-left: 6vh;
  animation-name: form;
  animation-duration: 1s;
}
@keyframes form{
  0% {transform: translateX(100%);}
  100% {transform: translateX(0%);}
}

.cmp_label,.script_label{
  color: black;
}
input,select{
  margin: 1vh;
  padding: 1vh;
  width: 100%;
  outline: none;
}
.submitBtn{
  margin: auto;
  margin-top: 1vh;
  padding: 1.5vh 3vh;
  border: none;
  border-radius: 5vh;
  color:#FC5130;
  font-weight: 700;
  background-color: #050401;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.submitBtn:hover{
  background-color: #ffffff;
}
