
.head{
  display: flex;
  align-items: center;

  padding: 2vh;
}

svg{
  margin-right: 2vh;
}
.content{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-top: 15vh;
}
.col-lg-8{
  height: 65vh;
}

.textContent{
  max-width: 70vh;
  margin-left: 25vh;

}
.heading1{
  font-weight: 900;
}

.heading2{
  font-weight: 900 bold;
  color: #30BCED;
  margin-bottom: 4vh;
}
h3{
  font-size: medium;
  font-weight: 400;
  color: black;
}
