{%extends 'base.html'%}
{%load static%}
{%block page_title%}Cmp Log{%endblock%}
{%block css_files%}
<link rel="stylesheet" href="{% static "project/cmp_log.css" %}">
<link rel="stylesheet" href="{% static "project/entered_data.css" %}">
{%endblock%}
{%block content%}
<div class="entire">
<table class="cmp_table">
  <tr>
    <th>Script name</th>
    <th>Cmp</th> 
  </tr>
{%for quant in nt%}
<tr>
  <td>{{quant.Script_Name|capfirst}}</td>
  <td class="Cmp_rate_cmp">{{quant.Cmp_Rate|capfirst}}</td>
</tr>
{%endfor%}
</table>
<div class='enter_form'>
  <form class="cmp_update_form" action="" method='POST'>
    {% csrf_token %}
    <h2 class="header_line">UPDATE CMP RATE</h2>
    <label class="script_label">Select the Script Name: </label>
    <select class="field" name="Script_Name">
      {%for option in nt%}
      <option value="{{option.Script_Name}}">{{option.Script_Name}}</option>
      {%endfor%}
    </select>
    <label class="cmp_label">Enter the current market price:</label>
    <input type="number" class="cmp_rate_input" placeholder="Enter the cmp" name="Cmp_Rate" step="0.01">
    <button class="submitBtn" type="submit">Submit</button>
  </form>
</div>
</div>


{%endblock%}