{%extends 'base.html'%}
{%load static%}
{%block page_title%}Data{%endblock%}
{%block css_files%}
<link rel="stylesheet" href='{% static "project/entered_data.css" %}'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bungee+Spice&family=Raleway:wght@800&display=swap" rel="stylesheet">
{%endblock%}
{%block content%}
<table>
  <tr>
    <th>Script name</th>
    <th>Client name</th>
    <th>Client code</th>
    <th>Buy date</th>
    <th>Buy rate</th>
    <th>Buy quantity</th>
    <th>Buy amount</th>
    <th>Sell date</th>
    <th>Sell rate</th>
    <th>Sell quantity</th>
    <th>Sell amount</th>
    <th>Net quantity</th>
    <th>Net Average</th>
    <th>Net Amount</th>
    <th>Net profit</th>
    <th>M2M</th>
    
  </tr>
  
    {%for scripts in account%}
    <tr>
    <td>{{scripts.Script_Name|capfirst}}</td>
    <td>{{scripts.Client_Name|capfirst}}</td>
    <td>{{scripts.Client_Code}}</td>
    <td>{{scripts.Buy_Date}}</td>
    <td>{{scripts.Buy_Rate}}</td>
    <td>{{scripts.Buy_Quantity}}</td>
    <td>{{scripts.Buy_Amount|floatformat:4}}</td>
    <td>{{scripts.Sell_Date}}</td>
    <td>{{scripts.Sell_Rate}}</td>
    <td>{{scripts.Sell_Quantity}}</td>
    <td>{{scripts.Sell_Amount|floatformat:4}}</td>
    <td>{{scripts.Net_Quantity}}</td>
    <td>{{scripts.Net_Avg|floatformat:4}}</td>
    <td>{{scripts.Net_Amount|floatformat:4}}</td>
    <td>{{scripts.Net_Pl}}</td>
    <td>{{scripts.M2M|floatformat:3}}</td> 
  </tr>
    {%endfor%}

</table>
{%endblock%}