{%extends 'base.html'%}
{%load static%}
{%block page_title%}Data{%endblock%}
{%block css_files%}
<link rel="stylesheet" href='{% static "project/entered_data.css" %}'>
{%endblock%}
{%block content%}
<table>
  <tr>
    <th>Sr.no</th>
    <th>Script name</th>
    <th>Client name</th>
    <th>Client code</th>
    <th>Buy date</th>
    <th>Buy rate</th>
    <th>Buy quantity</th>
    <th>Buy amount</th>
    <th>Sell date</th>
    <th>Sell rate</th>
    <th>Sell quantity</th>
    <th>Sell amount</th>
    <th>Net quantity</th>
    <th>Net profit</th>
    
  </tr>
  
    {%for scripts in account%}
    <tr>
    <td>{{scripts.id}}</td>
    <td>{{scripts.Script_name}}</td>
    <td>{{scripts.Client_name}}</td>
    <td>{{scripts.Client_code}}</td>
    <td>{{scripts.Buy_date}}</td>
    <td>{{scripts.Buy_rate}}</td>
    <td>{{scripts.Buy_quantity}}</td>
    <td>{{scripts.Buy_amount}}</td>
    <td>{{scripts.Sell_date}}</td>
    <td>{{scripts.Sell_rate}}</td>
    <td>{{scripts.Sell_quantity}}</td>
    <td>{{scripts.Sell_amount}}</td>
    <td>{{scripts.Net_quantity}}</td>
    <td>{{scripts.Net_pl}}</td>
   
  </tr>
    {%endfor%}

</table>
{%endblock%}