{% extends "base.html" %}
{%load static %}
{% block  page_title %}Home Page{% endblock %}
{%block css_files%}
<link rel="stylesheet" href="{% static "project/index.css" %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
{%endblock%}
{%block content%}
<div class="entire-div">
  <div class="content">
    <div class="textContent">
      <h1 class="heading1">Empower Your Investments:</h1>
      <h1 class="heading2"> Personalized Portfolio Management Made Simple.</h1>
      <h3>Experience the difference of bespoke portfolio management with a dedicated advisor by your side.
        It's time to unlock the true potential of your investments with personalized portfolio management.
      </h3>
    </div>
    <div class="col-lg-8" id="animation container">
      <script> 
        let animation=bodymovin.loadAnimation({
          container: document.getElementById('animation container'),
          path:'{% static "project/Animation.json" %}',
          render: 'svg',
          loop: true,
          autoplay: true,
          name: 'home_animation'
        });
      </script>
    </div>
  </div>
</div>
{%endblock%}