{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block page_title %}{% endblock %}</title>
  <link rel='stylesheet' href="{% static "project/index.css" %}">
  <link rel='stylesheet' href="{% static "project/base.css" %}">
  {%block css_files%}{%endblock%}
</head>
<body>
  <div class="nav-bar">
    <div class="right-section">
      <header>
        <div class="head">
          <a href={%url 'home'%}>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
          </svg>
          
          <h2> Personal Portfolio Manager</h2>
          </a>
        </div>
      </header>
    </div>
    <div class="left-section">
      <a  href={%url 'data-page' %}>
        <label class="client-log">CLIENT LOG</label>
      </a>
    <a  href={%url 'upload-page' %}>
      <label class="upload">UPLOAD</label>
    </a>
    </div>
  </div>
  {%block content%}
  {%endblock%}
</body>
</html>