.nav-bar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #329F5B;
}
.left-section{
  padding-right: 4vh;
  display: flex;
}
.filter{
  margin-right: 5vh;

}
.logo{
  color: black;
  text-decoration: none;
  text-align: center;
  transition: color 0.2s ease-in-out;
}
.logo:hover{
 color: #ffffff;
}
.client-log,.cmp-log,.upload{
  font-size: 2vh;
  cursor: pointer;
  color: black;
  transition: color 0.2s ease-in-out;
}
.client-log,.cmp-log{
  margin-right: 5vh;
}
a{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}


.client-log:hover,.cmp-log:hover,.upload:hover{
  color: white;
}
