html{
  font-family:'roboto';
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #FCD581;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #FFF8E8;
}

td input {
  width: 100%;
  box-sizing: border-box;
}
