body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px;
}

input[type="text"], input[type="password"] {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.login {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login:hover {
  background-color: #45a049;
}
.error{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'roboto';
  color: red;
  text-align: center;
  background-color: rgba(255, 123, 123, 0.705);
  width: 100%;
  height: 5vh;
  border: 2px solid red;
  border-radius: 5px;
  background: rgba(255, 123, 123, 0.705);
box-shadow: inset 20px 20px 60px rgba(255, 123, 123, 0.705),
}
.error svg{
  margin-right: 10px;
}