body {
  --dot-bg: rgb(255, 255, 255);
  --dot-color: #0C8346;
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

.entire{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
}
html{
  font-family: 'roboto';
}
.box {
  position: relative;
  width: 520px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
 }
 
 .box::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 80px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
 }
 
 .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
 }
 
 .box:hover:before,
 .box:hover:after {
  transform: skewX(0deg) scaleX(1.3);
 }
 
 .box:before,
 .box:after {
  background: linear-gradient(90deg, #000000, #cccccc)
 }
 
 .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
 }
 
 .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
 }
 
 .box span::before {
  top: -40px;
  left: 70px;
  width: 50px;
  height: 50px;
  opacity: 1;
 }
 
 .box span::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
 }
 
 .box span:after {
  bottom: -40px;
  right: 180px;
  width: 50px;
  height: 50px;
  opacity: 1;
 }
 
 .box .content {
  position: relative;
  width: 490px;
  height: 274px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  bottom: 110px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .box .content h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
 }
 form{
  display: flex;
  height: 15vh;
  align-items: center;
 
  justify-content: center;
 }
 input{
 font-weight: bold;
  text-align: center;
 }
 input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #820933;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #71072c;
}
 .btn {
  margin-right: 20px;
  border: none;
  background: #098227;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;;
 }
 
 .btn:hover {
  background: #077129;
 }