.entire{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22vh;
}
html{
  font-family: 'roboto';
}
.box {
  position: relative;
  width: 520px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
 }
 
 .box::before {
  content: ' ';
  position: absolute;
  top: -50px;
  left: 80px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
 }
 
 .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
 }
 
 .box:hover:before,
 .box:hover:after {
  transform: skewX(0deg) scaleX(1.3);
 }
 
 .box:before,
 .box:after {
  background: linear-gradient(90deg, #FC5130, #30BCED)
 }
 
 .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
 }
 
 .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
 }
 
 .box span::before {
  top: -80px;
  left: 70px;
  width: 50px;
  height: 50px;
  opacity: 1;
 }
 
 .box span::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
 }
 
 .box span:after {
  bottom: 20px;
  right: 180px;
  width: 50px;
  height: 50px;
  opacity: 1;
 }
 
 .box .content {
  position: relative;
  width: 490px;
  height: 274px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  bottom: 110px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .box .content h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
 }
 form{
  display: flex;
  height: 15vh;
  align-items: center;
 
  justify-content: center;
 }
 input{
 font-weight: bold;
  text-align: center;
 }
 input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #30BCED;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0096cc;
}
 .btn {
  margin-right: 20px;
  border: none;
  background: #FC5130;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;;
 }
 
 .btn:hover {
  background: #e52600;
 }
.content{
  display: flex;
  flex-direction: column;
}
 .success-msg{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: flex;
  align-items: center; 
  font-weight: 300;
  margin: 25px;
  width: 440px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.success-msg img{
  width: 2vh;
  margin-right: 1vh;
}